.blog-post-container {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .blog-post-container {
    flex-direction: column;
  }
}

.blog-sidebar .button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
