.blog-post-container {
  margin-top: 30px;
}

.blog-post-header-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
